<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268026304066-hmfp1kcjje7mk419frl39up7a91sgsdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268026304066-hmfp1kcjje7mk419frl39up7a91sgsdh</string>
	<key>API_KEY</key>
	<string>AIzaSyAnKrODC4emAFAHYNF7C9g2DihJC5VSLYE</string>
	<key>GCM_SENDER_ID</key>
	<string>268026304066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yig.mi.sedori</string>
	<key>PROJECT_ID</key>
	<string>sedori-salon-stg-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sedori-salon-stg-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268026304066:ios:6778dad023dac72e2affdb</string>
</dict>
</plist>